
<form method="post">
    <img src="~/TIME.png" alt="time image" />
    <label for="startYear">Beggining Year</label>
    <input maxlength="4" name="startYear" />
    <label for="endYear">Ending Year</label>
    <input maxlength="4" name="endYear" />

    <button type="submit">Submit</button>

</form>